*{
    box-sizing: border-box;
}

:root{
    --color-whitesmoke: whitesmoke;
    --color-darkgrey: rgb(53, 53, 53);
    --color-grey: grey;
    --color-darkgrey-transparent: rgba(53, 53, 53, 0.425);  
    --color-black: black;  
}

body{
    margin: 0;
    font-family: arial;
    background-color: #DCDCDC;
}


/* ---------------- fonts ---------------- */


h1{
    color: var(--color-whitesmoke);
    font-size: 193px;
    font-family: 'Bebas Neue', cursive;
    text-shadow:
     3px  3px 0 #000,
    -1px -1px 0 #000,  
     1px -1px 0 #000,
    -1px  1px 0 #000,
     1px  1px 0 #000;
}

h2{
    color: var(--color-grey);
    font-size: 30px;
    text-align: center;
}

p{
    padding-left: 10px;
    padding-right: 10px;;
}

a, a:visited, a:hover{
    text-decoration: none;
    color: var(--color-black);
}

/* ---------------- header ---------------- */


header {
    background-repeat: no-repeat;
    background-size: cover;
    height: 350px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("../images/beerdog.gif");
    background-repeat: no-repeat;
    background-position: right;
    background-size: contain;
}


/* ---------------- nav bar ---------------- */


nav{
    display: flex;
    align-items: center;
    background-color: #DCDCDC;
    height: 30px;
    justify-content: center;
}

nav a{
    text-decoration: none;
    color: black;
    padding: 0 10px;
}

nav a:visited{
    text-decoration: none;   
    color: var(--color-grey);
}

nav a:hover{
    text-decoration: none;
    color: var(--color-whitesmoke);
}


/* ---------------- main ---------------- */


main{
    height: 700px;
}

section.active{
    display: block;
}

.home{
    display: none;
}

.search{
    display: none;
}

.container{
    display: grid;
    grid-template-columns: 50% 50%;
}

.randomize-button{
    box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:linear-gradient(to bottom, #ededed 5%, #dfdfdf 100%);
	background-color:#ededed;
	border-radius:6px;
	border:1px solid #dcdcdc;
	display:inline-block;
	cursor:pointer;
	color:#777777;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
    text-shadow:0px 1px 0px #ffffff;
    grid-column: auto;
    width: 250px; 
    margin: auto;
}

.randomize-button:hover {
	background:linear-gradient(to bottom, #dfdfdf 5%, #ededed 100%);
	background-color:#dfdfdf;
}

.randomize-button:active {
	top:1px;
}

.beer-card{
    background-color:#F5F5F5;
    height: 600px;
    width: 250px;
    grid-column: 1;
    border-radius: 5px 5px 5px 5px;
    margin: auto;
    box-shadow: 5px 5px 5px var(--color-darkgrey-transparent);
}

.beer-card img{
    max-width: 100%;
    max-height: 100%; 
}

.info{
    display: none;
    background-color: #F5F5F5;
    border-radius: 5px 5px 5px 5px;
    margin: auto;
    box-shadow: 5px 5px 5px var(--color-darkgrey-transparent);
    height: 600px;
    width: 550px;
}

.beer-input{
    height: 30px;
    width: 250px;;
    display: inline-block;
    margin: auto;
}

.beer-list{
    display: none;
    height: 600px;
    width: 250px;
    background-color: white;
    border-radius: 5px 5px 5px 5px;
    grid-column: 1;
    box-shadow: 5px 5px 5px var(--color-darkgrey-transparent);
    margin: auto;
}

.beer-suggestions{
    list-style: none;
    padding: 2px 2px 0px 2px;
}

.beer-suggestions li{
    padding: 8px;
    cursor: pointer;
}

.chosen-beer-info{
    display: none;
    background-color: #F5F5F5;
    border-radius: 5px 5px 5px 5px;
    margin-right: 10px;
    box-shadow: 5px 5px 5px var(--color-darkgrey-transparent);
    width: 550px;
    height: 600px;
}

.beer-info-img {
    max-height: 200px;
}

.pagination{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
 .left-arrow{
    cursor: pointer;
    grid-column: 1;
    margin: auto;
}

.current-page{
    grid-column: 2;
    text-align: center;
}

.right-arrow{
    cursor: pointer;
    grid-column: 3;
    margin: auto;
}

footer{
    text-align: center;
    padding: 20px;
    height: 200px;
    background-color: var(--color-grey);
}