section.active {
    display: block;
}
.home {
    display: none;
}

.search{
    display: none;
}

.info{
    display: none;
}

header {
    background-image: url(../beer.jpg);
    height: 200px;
}

.beer-card{
    background-color: aquamarine;
    height: 500px;
    width: 250px;

}